body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #849d8f;
}

.visually-hidden {
  display: none;
}

.site-wrapper::before,
.site-wrapper::after {
  content: " ";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/background-2.png");
}

.site-wrapper::after {
  background-image: url("../img/background-3.png");
}

.site-wrapper {
  background-image: url("../img/background-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition:
    background-image 0.5s ease,
    background-color 0.5s ease;
}

.wrapper {
  padding-left: 27px;
  padding-right: 27px;
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* Слайдер фонов */
/* main */
.hidden-radio {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.main-slider {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ffffff;
}

.slider-list {
  list-style: none;
}

.slide {
  display: none;
  position: relative;
  padding-top: 321px;
  text-align: center;
}

.main-slider-title {
  padding: 0 215px;
  margin: 0 auto;
  margin-bottom: 35px;
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
  text-align: center;
}

.slider-controls {
  position: absolute;
  bottom: 70px;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/background-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/background-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/background-3.png");
}

#product-1:checked ~ .site-wrapper #slide-1,
#product-2:checked ~ .site-wrapper #slide-2,
#product-3:checked ~ .site-wrapper #slide-3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.main-navigation {
  display: flex;
  justify-content: flex-start;
  padding-top: 5px;
}

.main-navigation img {
  padding-top: 5px
}

.wrapper-navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding-top: 5px;
}

.site-navigation {
  display: flex;
  height: 32px;
  padding-left: 7px;
  list-style: none;
}

.site-navigation a {
  padding: 8px 15px;
  padding-top: 6px;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  text-decoration-color: rgba(255, 255, 255, 0.2);
  text-underline-position: under;
}

.site-navigation a:hover {
  color: #333333;
  font-weight: 700;
  background-color: #f8f7f4;
}

.navigation-open {
  box-sizing: border-box;
  border-radius: 20px;
  height: 32px;
  padding: 8px 15px;
  padding-top: 6px;
  color: #ffffff;
  background-color: #d07058;
  text-decoration-line: none;
}

.site-navigation-2 {
  display: none;
}

li:hover .site-navigation-2  {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 160px;
  border-radius: 6px;
  background-color: #f7f6f3;
  list-style: none;
  line-height: 20px;
  padding: 0;
  margin-top: 10px;
  z-index: 4;
}

.site-navigation-2 li {
  padding: 5px 0;
}

.site-navigation-2 a {
  font-size: 14px;
  color: #333333;
  text-decoration-line: none;
}

.site-navigation-2 li:hover {
  background-color: #fbded7;
}

.site-navigation-2 li:hover:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.site-navigation-2 li:hover:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.site-navigation-2 li:active {
  background-color: #f6b5a5;
  text-decoration: none;
}

.site-navigation-2 a:hover {
  font-weight: 400;
  background-color: transparent;
}
.site-nav-2-new {
  border-bottom: 1px solid #d1d0ce;
}

.site-nav-2-new,
.site-nav-2-new a:hover {
  font-weight: 700;
  text-decoration: none;
}

.site-nav-2-open {
  background-color: #d07058;
}

.site-nav-2-open a {
  color: #ffffff;
}

/* пользовательское меню */
.forms.search-form,
.forms.reg-form,
.forms.basket,
.forms.form-feedback {
  display: none;
}

.user-menu {
  display: flex;
  list-style: none;
  position: relative;
  justify-content: flex-end;
  padding-left: 30px;
  margin-top: 13px;
  margin-bottom: 10px;
}

.user-menu-link {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.search-link {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.search-link:hover,
.search-link:active {
  background-color: #f8f7f4;
  background-image: url("../img/loupe-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.search-link:hover .search-form,
.search-link:active .search-form  {
  display: block;
  position: absolute;
  padding: 20px 15px;
  top: 34px;
  left: -284px;
  z-index: 5;
}

.search-form::after {
  content: "";
  display: block;
  position: absolute;
  top: -25px;
  right: 0;
  width: 200px;
  height: 25px;
  margin: 0;
}

.forms {
  display: flex;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}

.forms input {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 6px;
}

.forms input[placeholder] {
  color: #323232;
}

.search-form input[type="search"] {
  width: 315px;
  height: 48px;
  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
}

.reg-form::before {
  content: "";
  display: block;
  position: absolute;
  top: -25px;
  right: 0;
  width: 200px;
  height: 25px;
  margin: 0;
}

.reg-form input {
  width: 240px;
  border: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
  margin-bottom: 20px;
}

.search-form input[placeholder],
.reg-form input[placeholder] {
  padding: 15px;
}

.login-link:hover .reg-form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: absolute;
  padding: 20px 15px;
  top: 34px;
  right: 0;
  z-index: 6;
}

.login-link {
  display: block;
  position: relative;
  width: 90px;
  height: 30px;
  padding-top: 3px;
  margin-left: 10px
}

.login-link:hover {
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
}

.user-menu-link a {
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  text-decoration: none;
}

.login-link a {
  padding-left: 40px;
}

.login-link:hover a,
.basket-link-red a {
  color: #000000;
}

.basket-link,
.basket-link-red {
  width: 71px;
  position: relative;
  padding-top: 3px;
  padding-left: 44px;
  margin-left: 12px;
}

.login-link::before,
.basket-link::before,
.basket-link-red::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 15px;
  background-repeat: no-repeat;
}

.login-link::before {
  width: 21px;
  height: 19px;
  background-image: url("../img/entrance.svg");
}

.login-link:hover::before,
.login-link:active::before {
  background-image: url("../img/entrance-hover.svg");
}

.basket-link::before,
.basket-link-red::before {
  width: 21px;
  height: 20px;
}

.basket-link-red {
  background-color: rgba(255, 255, 255, 1);
}

.basket-link::before {
  background-image: url("../img/basket.svg");
}

.basket-link-red::before {
  background-image: url("../img/basket-red.svg");
}

.login-in-link a {
  display: block;
  font-size: 13px;
  line-height: 24px;
  font-weight: 300;
  color: rgb(50, 50, 50);
  text-decoration: underline;
  text-decoration-color: rgba(50, 50, 50, 0.3);
  text-underline-position: under;
}

.login-in-link a:hover {
  color: #f26843;
  text-decoration-color: #f26843;
}

.login-in-link a:active {
  color: #e84d37;
  text-decoration-color: #e84d37;
}

.basket-link-red:hover .basket {
  display: block;
  width: 540px;
  position: absolute;
  top: 34px;
  right: 0;
  padding: 15px;
  z-index: 7;
}

.basket::before {
  content: "";
  display: block;
  position: absolute;
  top: -25px;
  width: 540px;
  height: 25px;
  box-sizing: border-box;
}

.basket td {
  padding: 5px 10px;
}

.basket td:first-child {
  vertical-align: middle;
}

.basket td:nth-child(3) {
  width: 216px;
}

.basket td:nth-child(4) {
  padding: 5px 15px;
}

.basket td:last-child {
  padding-right: 0;
  text-align: right;
}

.basket img {
  border-radius: 50%;
}

.basket {
  font-size: 13px;
  color: #484847;
}

.basket-price-unit {
  color: #999999;
}

.basket-sum {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: #323232;
  text-align: right;
}

.basket button {
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.basket .btn {
  border-color: transparent;
  border-style: solid;
  border-width: 0;
}

.close-cross-btn {
  position: relative;
  width: 30px;
  height: 30px;
  font-size: 0;
  background-color: #f8f7f4;
  border: 0;
  cursor: pointer;
}

.close-cross-btn:hover,
.close-cross-btn:active {
  border: 1px solid #323232;
  border-radius: 50%;
}

.close-cross-btn::before,
.close-cross-btn::after {
  content: "";
  position: absolute;
  left: 3px;
  width: 20px;
  height: 3px;
  background-color: #999999;
}

.close-cross-btn::before {
  transform: rotate(45deg);
}

.close-cross-btn::after {
  transform: rotate(-45deg);
}

.btn {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #fefefe;
  background: linear-gradient(to top, #e74b36, #f26843);
  padding: 12px 30px;
  border-radius: 40px;
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.btn:hover {
  background: linear-gradient(to top, #ec6f5e, #f58669);
  border-radius: 40px;
  box-shadow: 0px 1px 2px 0px #ac1000;
}

.btn:active {
  background: linear-gradient(to top, #e1613e, #c73f2c);
  border-radius: 40px;
  box-shadow: inset 0px 1px 2px 0px #ac1000;
}

.btn-big {
  display: inline-flex;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  text-decoration: none;
  border-radius: 40px;
  margin-bottom: 40px;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

/* Контактный телефон */
.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  margin-top: -5px;
}

.contact a {
  font-size: 22px;
  line-height: 24px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
}

/* Сетка на страницe каталога */

.breadcrumbs {
  display: flex;
  margin-top: -20px;
  padding: 0;
  margin-right: 180px;
}

.breadcrumbs li {
  font-size: 14px;
  line-height: 16px;
  list-style: none;
  padding-right: 20px;
}

.breadcrumbs a {
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  text-underline-position: under;
}

.breadcrumbs a:hover,
.breadcrumbs a:active,
.feature-name:hover,
.feature-name:active {
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.5);
}

.breadcrumbs-open a {
  text-decoration: none;
}

/* Фильтр каталога */
.filter-title {
  padding-left: 20px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 866px;
  margin-bottom: 40px;
  color: #ffffff;
}

.catalog-filter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 15px;
  margin-bottom: 15px;
}

.catalog-filter-item {
  position: relative;
  color: #ffffff;
  font-size: 16px;
  padding: 8px 20px;
  padding-right: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.catalog-filter-wrapper input[type="text"] {
  border-radius: 6px;
  width: 35px;
}

.catalog-filter-select {
  position: relative;
}

.catalog-filter-select:hover {
  border-color: #323232 transparent transparent transparent;
  color: #323232;
}

.catalog-filter-select::after {
  content: "";
  border-style: solid;
  border-width: 10px 7px 0 7px;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  top: 40%;
  right: 14px;
}

.catalog-filter-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0;
  color: inherit;
  background: transparent;
  font-size: 16px;
  border: 0;
}

.catalog-filter-select select:hover {
  cursor: pointer;
}

.catalog-filter-price span:first-child {
  padding-left: 20px;
}

.catalog-filter-price input {
  -webkit-appearance: textfield;
  color: #ffffff;
  font-size: inherit;
  background-color: transparent;
  -webkit-rtl-ordering: logical;
  cursor: text;
  padding: 3px;
  border-width: 0;
  border-style: none;
  border-color: transparent;
  border-image: initial;
}

.catalog-filter-range {
  position: relative;
  margin: auto;
  margin-top: 2px;
  border-radius: 20px;
  width: 220px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 18px;
  background: rgba( 255, 255, 255, .2);
}

.scale {
  height: 4px;
  background-color: rgba(248, 247, 244, 0.5);
}

.complete-scale {
  width: 98px;
  margin-left: 37px;
  height: 4px;
  background-color: rgba(248, 247, 244, 1);
}

.switcher {
  position: absolute;
  top: 8px;
  left: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(248, 247, 244, 1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  transition: all .05s linear;
}

.switcher::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background: #ababab;
  margin: auto;
}

.switcher-min {
  left: 34px;
}

.switcher-max {
  left: 134px;
}

.switcher:hover {
  width: 24px;
  height: 24px;
  top: 6px;
}

.switcher-min:hover {
  left: 32px;
}

.switcher-max:hover {
  left: 132px;
}

.catalog-filter-checkbox {
  padding-right: 14px;
}

.catalog-filter-radio span {
  padding-left: 30px;
}

.catalog-filter p {
  font-size: 14px;
  line-height: 18px;
}

.catalog-filter-radio,
.catalog-filter-checkbox {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
}

.catalog-filter-checkbox > span {
  padding-left: 40px;
}
.catalog-filter-checkbox span {
  padding-left: 30px;
}

.catalog-filter-radio::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url("../img/radio-off.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.catalog-filter-checkbox::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
}

.catalog-filter-radio:hover,
.catalog-filter-checkbox:hover {
  color: rgba(255, 255, 255, 1);
}

.catalog-filter-radio:hover::before,
.catalog-filter-checkbox:hover::before {
  opacity: 1;
}

.catalog-filter-radio input[type="radio"]:checked ~ span {
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.catalog-filter-checkbox input[type="checkbox"]:checked ~ span {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.catalog-filter-btn {
  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.catalog-filter-btn:hover {
  background-color: rgb(255, 255, 255);
  color: #323232;
}

.catalog-filter-btn:active {
  box-shadow: inset 0 2px 2px #696969;
}

/* Скидки */
.discount-wrapper {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}

.discount {
  display: flex;
  flex-direction: column;
  flex-basis: 230px;
  flex-grow: 1;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #ffffff;
  text-align: left;
  background-repeat: no-repeat;
  width: 50%;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 40px;
}

.discount-header {
  font-size: 35px;
  font-weight: 600;
  line-height: 41px;
  color: #ffffff;
  margin: 0;
}

.discount-rasp {
  margin-right: 40px;
  background-color: #a6093a;
  background-image: url("../img/raspberry.jpg");
}

.discount-choc {
  background-color: #54301d;
  background-image: url("../img/chocolate.jpg");
}

.discount .btn {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  padding: 8px 20px;
  text-decoration: none;
  align-self: flex-end;
  margin-top: auto;
}

/* Лучшие предложения */
.features {
  display: flex;
  flex-wrap: wrap;
}

.feature-item {
  display: flex;
  flex-direction: column;
  width: 267px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 35px;
  margin-right: 26px;
  color: #ffffff;
}

.features .feature-item:nth-of-type(4n) {
  margin-right: 0;
}

.hit-item::before {
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  background-image: url("../img/hit.svg");
  z-index: 3;
}

.feature-item:hover::after {
  content: " ";
  position: absolute;
  z-index: 2;
  top: -5px;
  left: -13px;
  right: -13px;
  bottom: 0;
  background: rgba(255, 255, 255, .3);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  z-index: 1;
}

.feature-item:hover .feature-item-footer {
  display: block;
}

.circle-img {
  width: 265px;
  height: 265px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2;
}

.feature-item .price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  position: absolute;
  top: 200px;
  left: 10px;
  z-index: 2;
}

.feature-item .kg {
  font-size: 30px;
  font-weight: 700;
}

.feature-name {
  color: #ffffff;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  text-underline-position: under;
  margin: 10px auto;
  z-index: 2;
}

.feature-item-footer {
  position: absolute;
  display: none;
  bottom: -74px;
  left: -13px;
  right: -13px;
  background: rgba(255, 255, 255, .3);
  padding: 20px 45px;
  padding-top: 10px;
  box-sizing: border-box;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  z-index: 5;
}

.feature-item-footer .btn {
  display: block;
  text-align: center;
  padding: 10px 15px;
  border-radius: 40px;
  text-decoration: none;
  font-size: 18px;
}

/* Наши преимущества */
.advantages {
  margin-bottom: 40px;
  padding: 29px 20px;
  border-radius: 20px;
  background: url("../img/wafle.jpg");
}

.advantages-main {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.advantages-p-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.advantages-p-wrapper p {
  max-width: 40%;
  position: relative;
  margin-left: 60px;
}

.advantages-p-wrapper p::before {
  content: "";
  position: absolute;
  left: -60px;
  width: 50px;
  height: 50px;
  padding-right: 10px;
  padding-bottom: 40px;
  background-repeat: no-repeat;
}

.advantages-p-wrapper p:first-child::before {
  background-image: url("../img/ice-cream.svg");
}

.advantages-p-wrapper p:nth-child(2)::before {
  background-image: url("../img/cow.svg");
}

.advantages-p-wrapper p:nth-child(3)::before {
  background-image: url("../img/eco.svg");
}

.advantages-p-wrapper p:nth-child(4)::before {
  background-image: url("../img/thermometer.svg");
}

/* Новинки и рассылка */
.new-and-mailing {
  display:flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.new,
.mailing {
  box-sizing: border-box;
  flex-basis: 48%;
  justify-content: space-between;
  min-height: 220px;
}

.new {
  flex-grow: 1;
  color: #323232;
  background-color: #ffffff;
  background-image: url("../img/ham-and-strawberry.png");
  background-repeat: no-repeat;
  background-position: top -30px right -20px;
  border-radius: 20px;
  margin-right: 40px;
  padding: 25px 20px;
}

.new p {
  display: block;
  max-width: 60%;
  margin: 0;
  margin-bottom: 10px;
}

.new a {
  display: block;
  width: 280px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;
  text-align: left;
}

/* Рассылка */
.mailing {
  display: flex;
  flex-grow: 1;
  padding: 6px;
  border-radius: 20px;
  background-image: repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 7px, #94ceff 7px, #94ceff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
}

.mailing-bg {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  color: #5a5a5a;
  background-color: #f8f7f4;
  border-radius: 20px;
  align-self: center;
}

.mailing-bg input[placeholder] {
  flex-grow: 1;
  line-height: 24px;
  border-radius: 6px;
  padding: 10px 20px;
}

.mailing form {
  box-shadow: none;
  border-radius: 20px;
  padding: 35px;
}

.mailing p {
  margin: 0;
  padding: 20px;
  padding-bottom: 12px;
}

.mailing .btn {
  margin-left: 10px;
}

/* Адрес магазина */
.location-wrapper {
  box-sizing: border-box;
  position: relative;
  top: -360px;
  width: 1146px;
  margin: 0 auto;
}

.location {
  min-height: 430px;
  position: relative;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
}

.address {
  position: absolute;
  right: 0;
  box-sizing: border-box;
  width: 302px;
  padding: 25px 30px;
  border-radius: 20px;
  font-size: 14px;
  font-style: normal;
  background-color: #fefefe;
}

.address p:first-child {
  display:block;
  margin-top: 0;
}

.address span {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.address .btn {
  text-decoration: none;
  padding: 12px 20px;
}

/* Форма обратной связи */
.form-feedback {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 480px;
  min-height: 442px;
  position: fixed;
  left: 30%;;
  top: 337px;
  z-index: 21;
  box-sizing: border-box;
  padding: 23px;
  margin: auto;
  border-radius: 20px;
}

.form-feedback .close-cross-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.form-feedback input {
  box-sizing: border-box;
  width: 260px;
  height: 42px;
  padding: 10px 15px;
  margin: 10px 0;
  font-size: 16px;
}

.form-feedback textarea {
  box-sizing: border-box;
  width: 432px;
  font-size: 16px;
  line-height: 24px;
  padding: 10px;
  margin: 10px 0;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #d3d3d2;
}

.form-feedback span {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.form-feedback .btn {
  margin-left: auto;
}

.feedback-darkness {
  background: #000000;
  opacity: 0.6;
}

/* Футер */
.footer-hr {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.index-footer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 103px;
  padding: 20px 0;
}

.social ul,
.footer-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
}

.social ul {
  align-items: center;
  min-width: 190px;
  padding: 0;
}

.social li {
  margin-right: auto;
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
}
.social a {
  opacity: 0.8;
}

.social li:hover {
  border-color: rgba(255, 255, 255, 0.7);
}
.social a:hover {
  opacity: 1;
}

.social li:active {
  border-color: rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 2px 2px #696969;
}
.social a:active {
  opacity: 1;
}

.footer-menu ul {
  position: relative;
  width: 320px;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0;
}

.footer-menu ul::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 6px;
  width: 10px;
  height: 6px;
  height: 15px;
  padding-right: 10px;
  padding-bottom: 40px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
}

.footer-menu li {
  min-width: 155px;
}

.footer-menu a {
  font-size: 13px;
  font-weight: 100;
  color: #ffffff;
  line-height: 18px;
  text-align: left;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  text-underline-position: under;
}

.footer-menu span {
  font-weight: 600;
}

.copyright p,
.copyright a {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  margin: 0;
}

/* Стили каталога */
.page-name {
  margin-bottom: 25px;
  font-size: 35px;
  color: #ffffff;
  font-weight: bold;
  line-height: 41px;
  text-align: left;
}

.pagination-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-top: 60px;
}

.pagination li {
  width: 26px;
  height: 26px;
  line-height: 16px;
  margin-left: 10px;
  text-align: center;
}

.pagination a,
.pagination-open a,
.pagination a:hover,
.pagination a:active {
  padding: 4px 10px;
  border-radius: 50%;
  text-decoration: none;
}

.pagination-open li {
  text-align: center;
}

.pagination a {
  color: #ffffff;
}
.pagination-open a {
  color: #323232;
  background-color: rgba(255, 255, 255, 1);
}

.pagination a:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.2)
}

.pagination a:active {
  color: #323232;
  background-color: rgba(255, 255, 255, 1);
}
