body {
  font-family: "Roboto", helvetica, sans-serif;
  font-size: 16px;
  background-color: #849d8f;
}

.visually-hidden {
  display: none;
}

.site-navigation,
.site-navigation-2 {
  list-style: none;
}

.site-navigation li {
  display: inline-block;
}
.site-navigation-2 li {
  display: block;
}

.site-navigation a {
  font-weight: 400;
  color: rgb(255, 255, 255);
  line-height: 18px;
  text-align: left;
  list-style: none;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  text-underline-position: under;
}

.site-navigation a:hover {
  color: #333333;
  font-weight: 700;
  background-color: #f8f7f4;
}

.navigation-open {
  color: #ffffff;
  background-color: #d07058;
}
.site-navigation-2 {
  display: none;
  background-color: #f7f6f3;
}

.site-navigation li:hover .site-navigation-2 {
  display: block;
}

.site-navigation-2 a {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  margin-left: 0;
}

.site-navigation-2 li:hover {
  line-height: 16px;
  text-align: left;
  background-color: #fbded7;
}

.site-navigation-2 a:hover {
  font-weight: 400;
  background-color: #fbded7;
}

/* пользовательское меню */

.user-menu li {
  display: inline-block;
}

.user-menu a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  background-color: rgba(248, 247, 244, 0.2);
}

.user-menu a:hover {
  color: #333333;
  background-color: rgba(248, 247, 244, 1)
}

.forms {
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}

.forms input:focus {
  outline: 2px solid #f26843;
}

/* форма поиска */
#searching,
/* форма входа / регистрации */
#e-mail-reg,
#pass-reg {
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
}

.btn {
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #fefefe;
  background: #e74b36;
  background: linear-gradient(to top, #e74b36, #f26843);
  padding: 10px 20px;
  border-radius: 22px;
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.login-in-link a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 300;
  color: rgb(50, 50, 50);
  text-decoration: underline;
  text-decoration-color: rgba(50, 50, 50, 0.3);
  text-underline-position: under;
}

.login-in-link a:hover {
  color: #f26843;
}

.login-in-link a:active {
  color: #e84d37;
}

.busket {
  font-size: 13px;
  color: #484847;
}

.busket-price-unit {
  color: #999999;
}

.busket-sum {
  font-size: 15px;
  line-height: 18px;
  color: #323232;
  text-align: right;
}

.contact {
  font-size: 14px;
  color: #ffffff;
  text-align: right;
}

.contact a {
  font-size: 22px;
  line-height 24px;
  color: #ffffff;
  text-align: right;
  text-decoration: none;
}


.advantages {
  border-radius: 20px;
  background: url("../img/wafle.jpg");
}

.mailing {
  border-radius: 20px;
  background-image: repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 7px, #94ceff 7px, #94ceff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
}
