body {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #849d8f;
}

.visually-hidden {
  display: none;
}

.site-navigation,
.site-navigation-2 {
  list-style: none;
}

.site-navigation li {
  display: inline-flex;
  flex-wrap: wrap;
}
.site-navigation-2 li {
  display: block;
}

.site-navigation a {
  font-weight: 400;
  color: rgb(255, 255, 255);
  line-height: 18px;
  text-align: left;
  list-style: none;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  text-underline-position: under;
}

.site-navigation a:hover {
  color: #333333;
  font-weight: 700;
  background-color: #f8f7f4;
}

.navigation-open {
  color: #ffffff;
  background-color: #d07058;
  text-decoration: none;
}

.site-navigation .navigation-open {
  text-decoration: none;
}

.site-navigation-2 {
  display: none;
  background-color: #f7f6f3;
}

li:hover .site-navigation-2 {
  display: block;
}

.site-navigation-2 a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #333333;
  margin-left: 0;
}

.site-nav-2-bold {
  font-weight: 700;
}

.site-navigation-2 li:hover {
  line-height: 16px;
  text-align: left;
  background-color: #fbded7;
}

.site-navigation-2 a:hover {
  font-weight: 400;
  background-color: #fbded7;
}

/* пользовательское меню */

.user-menu li {
  display: inline-block;
}

.user-menu a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  background-color: rgba(248, 247, 244, 0.2);
}

.user-menu a:hover {
  color: #333333;
  background-color: rgba(248, 247, 244, 1)
}

.forms {
  display: flex;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}

/* форма поиска */
/* форма входа / регистрации */
.forms input {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 6px;
}

.forms input:focus,
.forms textarea:focus {
  outline: 2px solid #f26843;
}

.forms input[placeholder] {
  color: #999999;
}

.btn {
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #fefefe;
  background: linear-gradient(to top, #e74b36, #f26843);
  padding: 10px 20px;
  border-radius: 22px;
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.btn:focus {
  outline: 2px solid #f26843;
}

.btn:hover {
  background: linear-gradient(to top, #ec6f5e, #f58669);
  padding: 10px 20px;
  border-radius: 22px;
  box-shadow: 0px 1px 2px 0px #ac1000;
}

.btn:active {
  background: linear-gradient(to top, #e1613e, #c73f2c);
  padding: 10px 20px;
  border-radius: 22px;
  box-shadow: inset 0px 1px 2px 0px #ac1000;
}

.login-in-link a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 300;
  color: rgb(50, 50, 50);
  text-decoration: underline;
  text-decoration-color: rgba(50, 50, 50, 0.3);
  text-underline-position: under;
}

.login-in-link a:hover {
  color: #f26843;
}

.login-in-link a:active {
  color: #e84d37;
}

.basket {
  font-size: 13px;
  color: #484847;
}

.basket-price-unit {
  color: #999999;
}

.basket-sum {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: #323232;
  text-align: right;
}

.basket button {
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

/* Контактный телефон */
.contact {
  font-size: 14px;
  color: #ffffff;
  text-align: right;
}

.contact a {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  text-align: right;
  text-decoration: none;
}


/* Слайдер фонов */
.main-banner {
  font-size: 60px;
  line-height: 60.35px;
  color: #ffffff;
  text-align: center;
}

.btn-big {
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  text-decoration: none;
}

/* Скидки */
.discount p:first-of-type {
  font-size: 35px;
  font-weight: 600;
  line-height: 41px;
  color: #ffffff;
}

.discount {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #ffffff;
  text-align: left;
  background-repeat: no-repeat;
}

.discount-rasp {
  background-color: #a6093a;
  background-image: url(../img/raspberry.jpg);
}

.discount-choc {
  background-color: #54301d;
  background-image: url(../img/chocolate.jpg);
}

.discount a {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

/* Лучшие предложения */
.feature-item {
  font-size: 45px;
  font-weight: 700;
  color: #ffffff;
  line-height: 45px;
  text-align: left;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.feature-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(255, 255, 255);
  text-align: center;
  list-style: none;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  text-underline-position: under;
  text-shadow: none;
}

.feature-item span {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  line-height: 45px;
  text-align: left;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

/* Наши преимущества */
.advantages {
  border-radius: 20px;
  background: url("../img/wafle.jpg");
}

.advantages p:first-of-type {
  font-size: 24px;
  line-height: 30px;
}

.new {
  color: #323232;
  background-image: url(../img/ham-and-strawberry.png);
  background-repeat: no-repeat;
  background-color: #ffffff;
  border-radius: 20px;
}

.new a {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #323232;
  text-align: left;
}

/* Рассылка */
.mailing {
  border-radius: 20px;
  background-image: repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 7px, #94ceff 7px, #94ceff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
}

.mailing-bg {
  color: #5a5a5a;
  background-color: #f8f7f4;
  margin: 6px;
}

.mailing-bg input[placeholder] {
  line-height: 24px;
}

.mailing form {
  box-shadow: none;
}

/* Адрес магазина */
.address {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  background-color: #fefefe;
}

.address span {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.address a {
  text-decoration: none;
}

/* Форма обратной связи */
.forms .form-feedback,
.form-feedback textarea {
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.form-feedback span {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

/* Футер */
.social ul,
.footer-menu ul {
  list-style: none;
}

.footer-menu a {
  font-size: 13px;
  font-weight: 200;
  color: #ffffff;
  line-height: 18px;
  text-align: left;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  text-underline-position: under;
}

.footer-menu span {
  font-weight: 600;
}

.copyright p,
.copyright a {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

/* Стили каталога */
.breadcrumbs li {
  font-size: 14px;
  line-height: 16px;
  list-style: none;
}

.breadcrumbs a {
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  text-underline-position: under;
}

.breadcrumbs-open a {
  text-decoration: none;
}

.page-name {
  font-size: 35px;
  color: #ffffff;
  font-weight: bold;
  line-height: 41px;
  text-align: left;
}

.catalog-filter {
  color: #ffffff;
}

.catalog-filter p {
  font-size: 14px;
  line-height: 18px;
}

.catalog-filter-submit {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.pagination ul {
  list-style: none;
}

.pagination a {
  color: #ffffff;
  text-decoration: none;
}

/* Сетка сайта */
.wrapper {
  padding-left: 27px;
  padding-right: 27px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.search-form {
  display: none;
}

.search-form:hover {
  display: flex;
  justify-content: flex-start;
  left: 603px;
  top: 59px;
  z-index: 220;
}

.search-form input[type="search"] {
  align-self: center;
  max-width: 310px;
  margin: 20px;
  padding: 15px;
}

.reg-form {
  display: none;
}

.basket {
  display: none;
}

.form-feedback {
  display: none;
}
